.util-container{
    position: relative;
    background: url(/public/images/back.png) center;
    /* height: 100vh; */
    /* min-height: 100vh; */
    padding: 150px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.util{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1355px;
    padding: 0px 15px;
    text-align: left;

}

.util-section{
    /* position:absolute; */
    text-align: left;
    width: 50%;
    bottom: 0;
    left: 0;
    max-width: 700px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    float: left;
}

.util-heading{
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    box-sizing: border-box;
    margin: 35px 0px;
}



.accordion-container{
    max-width: 700px;
    min-height: 357px;
    justify-content: center;
    margin:30px 0px;
}

.util-image{
    position: relative;
    width: 50%;
    margin-right: -96px;
    float:right;
}

.util-add-img{
    max-width: 640px;
}

.util-data-container{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    padding: 24px 0;
    display: flex;
    align-items: center;
}

.util-data{
    padding: 0px 24px;
}

.util-data:nth-child(2){
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.util-data>span{
    font-size: 24px;
    line-height: 36px;
    font-family: 'Syne';
    margin: 0;
}

.util-data>p{
    font-family: 'Syne';
    font-size: 16px;
    line-height: 32px;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
}

.util-data>img{
    height: 40px;
}